.header{
    display: flex;
    width: 100%;
    padding-bottom: 30px;
    padding-top:10px;
    &-image{
        margin:auto
    }

    @include tablet(768px, 1023px) {
       padding-top:20px;
    }

    @include maxWidth(767px) {
        padding-bottom: 30px;
    }
}